    
    <section class="email-capture">
      <div class="inner-section">
        <p>Get notified by SMS when we have new koi shipments available!</p>
        <input type="email" placeholder="Enter your phone number (e.g. +6012134565456)">
        <button class="btn btn-danger"><i class="fas fa-sms"></i>&nbsp;&nbsp;Stay notified</button>
      </div>
    </section>
  </main>

  <footer class="dark">
    <div class="footer-menu">
      <section class="sitemap">
        <h3>Quick Links</h3>
        <ul class="sitemap-links">
          <li><a href="/">Home</a></li>
          <li><a href="/catalog">Our Store</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>

        <h3>Business Hours</h3>
        <ul class="sitemap-links">
          <li><span class="day">Monday</span> Closed</li>
          <li><span class="day">Tuesday</span> 10:00 AM - 6:00 PM</li>
          <li><span class="day">Wednesday</span> 10:00 AM - 6:00 PM</li>
          <li><span class="day">Thursday</span> 10:00 AM - 6:00 PM</li>
          <li><span class="day">Friday</span> 10:00 AM - 6:00 PM</li>
          <li><span class="day">Saturday</span> 10:00 AM - 6:00 PM</li>
          <li><span class="day">Sunday</span> 10:00 AM - 6:00 PM</li>
        </ul>
      </section>

      <section class="biz-info">
        <h3>Call Us</h3>
        <ul class="sitemap-links">
          <li><span class="day">Telephone</span> 03-7982 4713</li>
          <li><span class="day">Mobile</span> 012-260 0933</li>
        </ul>

        <h3>Our Address</h3>
        <ul class="sitemap-links">
          <li class="address">
            9-11B, Jalan Desa Utama, <br>
            Taman Desa,<br>
            58100 Kuala Lumpur<br>
            Malaysia.
          </li>
          <li><a href="/contact" class="btn btn-secondary">View Map</a></li>
        </ul>
      </section>

      <section class="contact-us">
        <div class="contact-us-inner">
          <h3>Send us an inquiry</h3>
          <p>We are always ready to help. If you have any questions about koi or your koi pond, drop us a message and we'll be glad to answer them.</p>

          <div class="form-field">
            <label>Full name</label>
            <input type="text" placeholder="Enter your name here">

            <label>Email Address</label>
            <input type="email" placeholder="Enter your email address here">

            <label>Mobile Number</label>
            <input type="text" placeholder="Enter your mobile phone number here">

            <label>Message</label>
            <textarea placeholder="Leave us a message here and we will get back to you shortly"></textarea>

            <button class="btn btn-danger">Send Inquiry</button>
          </div>
        </div>
      </section>
    </div>

    <p class="copyright">Copyright 2019 &copy; Atarikoi. All rights reserved.</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
  <script>
    document.querySelectorAll('.activate-carousel').forEach(function (e) {
      tns({
        container: e,
        items: 2,
        fixedWidth: 200,
        center: true,
        mouseDrag: true,
        nav: false,
        controlsText: ['&laquo;', '&raquo']
      })
    })
  </script>
</body>
</html>