<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Atarikoi">
  <meta name="author" content="Atarikoi">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- External -->
  <link href="https://fonts.googleapis.com/css?family=Questrial|Quicksand|Noto+Sans" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css" integrity="sha256-fdcFNFiBMrNfWL6OcAGQz6jDgNTRxnrLEd4vJYFWScE=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
  <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.helper.ie8.js"></script><![endif]-->
  
  <link rel="stylesheet" href="/assets/css/styles.css">

</head>
<body>
  <header>
    <!-- top line -->
    <section class="social-media">
      <div class="logo-container">
        <h3>Atarikoi</h3>
      </div>

      <div class="social-media-container">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
      </div>
    </section>

    <!-- above the fold -->
{% if page.url == "/" %}
    <section class="hero fishes">
      <div class="hero-cta">
        <h1>Atarikoi</h1>
        <h2>Top-quality Japanese Koi Fish</h2>
        <span class="special-line-through"><em class="ltd-inner">since 1992</em></span>
      </div>
    </section>
{% else %}
    <section class="hero">
      <div class="small-hero">
        <h1>{{ page.title }}</h1> 
        <span class="special-line-through"><em class="ltd-inner">{{ page.subtitle }}</em></span>
      </div>
    </section>
{% endif %}

    <nav class="main-nav">
      <a href="/"         {% if page.menu == "home" %}class="active"{% endif %}>Home</a>
      <a href="/catalog"  {% if page.menu == "store" %}class="active"{% endif %}>Our Store</a>
      <a href="/about"    {% if page.menu == "about" %}class="active"{% endif %}>About Us</a>
      <a href="/contact"  {% if page.menu == "contact" %}class="active"{% endif %}>Contact Us</a>
    </nav>
  </header>

  <main>