{% include head.html %}
    
    <section class="categories-selection">
      <div class="inner-section">
        <h3 class="inner-heading">{{ page.title }}</h3>
        <div class="card-container a-top">

    {% for product in page.category.products %}
          <article class="card">
            <a href="/products/{{ product.slug }}">
              <label>{{ product.title }}</label>
              <img src="{{ product.product_image.url }}" alt="{{ product.product_image.description }}">
            </a>
          </article>
    {% endfor %}
          
        </div>
      </div>
    </section>

    <hr class="bottom-separator">
    
{% include foot.html %}