{% include head.html %}
    <section class="brands-selection product">
      <div class="inner-section">
        <section class="information-container">
          <div class="image-cover product-info">
            <img src="{{ page.product.product_image.url }}" alt="{{ page.product.product_image.description }}">
          </div>

          <div class="writeup product-info">
            <h4>{{ page.product.title }}</h4>
            <p>{{ page.product.description }}</p>
          </div>
        </section>
        
      </div>
    </section>

    <hr>

    <section class="categories-selection">
      <div class="inner-section">
        <h3 class="inner-heading centered">{{ page.product.category.catalog_name }} Products</h3>

        <section class="card-container a-top activate-carousel">
        {% for related in page.product.category.products %}
          {% if related.sys.id != page.product.sys.id %}
          <article class="card">
            <a href="/products/{{ related.slug }}">
              <img src="{{ related.product_image.url }}" alt="{{ related.product_image.description }}">
              <label>{{ related.title }}</label>
            </a>
          </article>
          {% endif %}
        {% endfor %}
        </section>
      </div>
    </section>

{% include foot.html %}