html, body {
  background: white;
  color: #515A5F;
  font-size: 10pt;
  font-family: 'Noto Sans', Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Quicksand', serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.1rem;
}

ul {
  padding: 0;
  list-style: none;
}

.btn, .card {
  border-radius: 0;
}

.btn-secondary {
  background-color: #aaa;
  border-color: #aaa;
}

.centered {
  text-align: center;
}

/* Custom styles
================================================================================
 */
.special-line-through {
  display: block;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

  .special-line-through:before,
  .special-line-through:after {
    background-color: #f5af19;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .special-line-through:before {
    right: 0.5rem;
    margin-left: -50%;
  }

  .special-line-through:after {
    left: 0.5rem;
    margin-right: -50%;
  }

/* Top nagivation bar
================================================================================
 */
.social-media {
  background-color: black;
  color: #a7a7a7;
  padding: .5rem;
  border-bottom: solid 1px #333;
  align-items: center;

  display: flex;
  justify-content: center;
}

  .social-media .logo-container {
    flex: 0 0 50%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .social-media .logo-container h3 {
    padding-left: .5rem;
  }

  .social-media .social-media-container {
    flex: 0 0 50%;
    text-align: right;
  }

  .social-media a {
    font-size: 1.2rem;
    color: #a7a7a7;
    margin: auto .5rem;
  }

/* Hero image section
================================================================================
 */

.hero {
  background-color: black;
  position: relative;
}

.hero.fishes {
  background: black url(../img/cover.jpg) no-repeat;
  background-position: center center;
  height: 300px;
}

.hero .small-hero {
  text-align: center;
  padding: 1.5rem 1rem;
  color: white;

  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hero .small-hero h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.hero .small-hero .special-line-through:before,
.hero .small-hero .special-line-through:after {
  background-color: #4CA1AF;
  opacity: .5;
}

.hero .small-hero .special-line-through {
  font-size: .8rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

  .hero-cta .special-line-through {
    text-shadow: 0px 0px 5px #000000;
  }

  .hero-cta {
    max-width: 20rem;
    margin: 0 auto;
    padding: 80px .5rem 0 .5rem;
    text-align: center;
  }

  .hero-cta .btn {
    margin-top: .5rem;
    padding: .5rem 3.5rem;
  }

  .hero-cta h1, .hero-cta h2 {
    margin-bottom: .5rem;
    text-shadow: 0px 0px 5px #000000;
    font-weight: bold;
    text-transform: uppercase;
  }

  .hero-cta h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: white;
    font-family: 'Questrial';
  }

  .hero-cta h2 {
    line-height: 2rem;
    color: white;
  }

/* Main navigation menu
================================================================================
 */

.main-nav {
  background: rgb(204,204,204);
  background: #000;
  text-align: center;
}

  .main-nav a {
    display: inline-block;
    color: #ccc;
    text-transform: uppercase;
    margin: 0 .2rem;
    padding: .8rem .5rem .5rem .5rem;
    font-size: .7rem;
    letter-spacing: 0.1rem;
    border-bottom: .2rem solid black;
  }

  .main-nav a.active {
    border-bottom: 0.2rem solid #dc3545;
  }

  .main-nav a:hover {
    text-decoration: none;
    background-color: #333;
    border-color: #333;
  }

  .main-nav a.active:hover {
    border-color: #dc3545;
  }

/* Main section
================================================================================
 */

.inner-section {
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  /*overflow-x: hidden;*/
}

.service-guarantee h3,
.inner-section h3 {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: .5rem;
}

.email-capture {
  text-align: center;
  padding: 1rem 0;
}

.email-capture p {
  margin-bottom: 0;
  font-size: .8rem;
}

.email-capture input, .email-capture .btn {
  font-size: .8rem;
  padding: .5rem 1rem;
  margin: .5rem 0;
}

.email-capture input[type=email] {
  margin-top: 1rem;
  border: 1px solid #ccc;
  width: 100%;
}

.email-capture .btn {
  width: 100%;
}

.dark {
  background: #e7e7e7;
}

/* Service guarantee
================================================================================
 */

.service-guarantee {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.service-guarantee .image-container {
  display: none;
}

.service-guarantee img {
  object-fit: cover;
  width: 100%;
}

.service-guarantee .heading-container {
  padding: 1rem;
}

  .heading-container p {
    padding: 0 1rem;
    font-size: .8rem;
  }

  .heading-container .cta-secondary {
    text-align: center;
  }

  .heading-container .btn {
    font-size: .8rem;
    width: 100%;
    padding: .5rem 2rem;
  }

  .heading-container .photo {
    margin-top: .5rem;
    border: 0.5rem solid white;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
  }

/* Brands
================================================================================
 */

.brands {
  padding-bottom: 1rem;
}

.brands h3 {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.brands-listing {
  text-align: center;
}

.brands-listing img {
  display: inline-block;
  width: 10rem;
}

.services h3 {
  text-align: center;
}

.services {
  font-size: .8rem;
}

.services-listing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

  .service-card {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .service-card .card {
    display: block;
    background: white;
    text-align: center;
    font-size: 3rem;
    padding: .5rem;
    height: 100%;
  }

  .service-card .card p {
    font-size: .8rem;
    padding: 0 1rem;
  }

.services .btn {
  font-size: .8rem;
  padding: .5rem 1rem;
  width: 100%;
}

/* Catalog page
================================================================================
 */
h3.inner-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .3rem;
  color: #888;
  text-align: center;

  margin-bottom: 2rem;
}

.brands-selection .card-container, 
.categories-selection .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 1rem;
  justify-items: center;
  justify-content: center;
}

// Override to disable grid view for carousels
.categories-selection .card-container.activate-carousel {
  display: block;
}

.categories-selection .card-container.a-top {
  align-items: top;
}

.brands-selection .card-container.a-center {
  align-items: center;
}

.card-container {
  .card {
    display: grid;
  
    padding: 1rem;
    font-size: .8rem;
    text-align: center;

    border-color: white;  

    a {
      display: block;
      text-decoration: none;
      height: 10rem;    
    }

    a * {
      cursor: pointer;
    }

    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
      object-position: 10% center;
      margin-bottom: .5rem;    
    }
  }
}

/* Special override for brands only */
.brands-selection .card img {
  width: 70%;
}

.brands-selection .card a {
  height: auto;
}

.card-container .card label {
  display: block;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: bold;
  height: 2rem;
  color: #888;
}

.card-container .card .btn {
  font-size: .8rem;
  text-transform: uppercase;
  align-self: end;
  letter-spacing: .1rem;
  padding: .5rem 1rem;
}

.card .cta {
  align-self: end; 
}

.bottom-separator {
  margin-bottom:2rem;
}

/* Product page
================================================================================
 */
.image-cover {
  text-align: center;
}

.image-cover img {
  width: 100%;
}

.information-container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .product-info {
    flex: 0 0 50%;
  }  
}

.writeup, .product-cta {
  padding: 1rem;
  background: #efefef;
  width: 100%;
}

.writeup {
  h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.related-products {
  .related.product-card {
    max-width: 10rem;

    .product-title {
      font-size: 1rem;
      font-weight: bold;
    }

    .image-cover {

    }
  }
}

/* About/contact page
================================================================================
 */
.about-info {
  padding: 1rem;
  max-width: 800px;
  margin: 2rem auto 1rem auto;

  h4 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;  
  }

  p {
    color: #888;  
  }
}

/* Footer styling
================================================================================
 */
footer {
  padding: 1.5rem .5rem .5rem .5rem;
}

.footer-menu {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  font-size: .8rem;

  h3 {
    font-size: 1.5rem;  
  }

  .sitemap,
  .biz-info,
  .contact-us {
    flex: 0 0 100%;
    padding: .5rem;
    order: 2;  
  }

  .contact-us {
    order: 1;
  }
}

.sitemap-links {
  margin-top: 1rem;
}

.sitemap-links .address {
  line-height: 1.5rem;
}

.sitemap-links li {
  padding-bottom: .5rem;
}

.sitemap-links .btn {
  width: 100%;
  font-size: .8rem;
}

.contact-us-inner {
  background: #f1f1f1;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
}

.contact-us {
  label, input {
    display: block;
  }

  h3 { margin-bottom: .5rem; }
  p { margin-bottom: 1rem; }

  input, textarea {
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
  }

  textarea {
    height: 5rem; /* override */
  }

  .btn {
    width: 100%;
    padding: .5rem 1rem;
    font-size: .8rem;  
  }
}

.copyright {
  padding: .5rem;
  border-top: 1px solid #ccc;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

.day {
  display: inline-block;
  width: 4.5rem;
}

/* Carousel styling overrides
================================================================================
 */
.tns-outer {
  position: relative;

  [data-controls="prev"],
  [data-controls="next"] {
    position: absolute;
    top: 30%;
    background: #ddd;
    border: 1px solid #ccc;
    color: #888;
    z-index: 999;

    font-size: 1.5rem;
    font-family: "Noto Sans";

    opacity: .5;
  }

  [data-controls="prev"] {
    left: -15px;
  }

  [data-controls="next"] {
    right: -15px;
  }
}



/* Media query overrides - mobile first
================================================================================
 */
@media (min-width: 768px) {
  .hero {
    background-position: center center;
  }

  .hero-cta {
    max-width: 28rem;
    padding-top: 8%;
  }

  .hero-cta h1 { font-size: 6rem; line-height: 5rem; }
  .hero-cta h2 { font-size: 1.5rem; }
  .main-nav a { font-size: .8rem; margin: 0 2rem; }

  .email-capture p, .email-capture input, .email-capture .btn { 
    font-size: 1rem; 
    vertical-align: middle;
  }

  .email-capture input[type=email] {
    width: 50%;
    margin-top: .5rem;
    margin-right: .5rem;
  }

  .email-capture .btn {
    width: auto;
  }

  .service-guarantee .image-container,
  .service-guarantee .heading-container {
    display: block;
    flex: 0 0 50%;
  }

  .service-guarantee .heading-container {
    padding: 5rem 3rem 0 3rem;
  }

  .heading-container .btn,
  .heading-container p {
    font-size: 1rem;
  }

  .heading-container .photo {
    display: none;
  }

  .service-card {
    flex: 0 0 33%;
    text-align: center;
    margin-bottom: 1rem;
    padding: .5rem;
  }

  .service-card:first-child { padding-left: 0; }
  .service-card:last-child { padding-right: 0; }
  .services .cta-container { text-align: center; }
  .services .cta-container .btn { max-width: 40%; }

  .services,
  .service-card .card p,
  .services .btn {
    font-size: 1rem;
  }

  .footer-menu { flex-wrap: nowrap; }
  .footer-menu .sitemap { flex: 0 0 25%; order: 1; }
  .footer-menu .biz-info { flex: 0 0 25%; order: 1; }
  .footer-menu .contact-us { flex: 0 0 50%; order: 1; }
}