---
layout: default
title: About Us
menu: about
subtitle: Information about us
---
<section class="brands-selection">
  <div class="inner-section">
    <h3 class="inner-heading">History</h3>

    <div class="image-cover">
      <img src="/assets/img/about.jpg">
    </div>

    <div class="about-info">
      <p>ATARIKOI MARKETING SDN BHD was founded in 1989 by Mr Robert Gan, located at 9D, Jalan Desa Utama, Taman Desa off Jalan Klang Lama, Kuala Lumpur. In year 2013, his son Mr. Andy Gan, who had been helping out with his father in the business for almost 10 years took over the koi business.</p>

      <p>Our company’s mission is not only to offer high quality Japanese carps & products with reasonable price but also to educate hobbyists how to keep their kois healthy and beautiful. We do retail business for koi enthusiasts either beginners or serious hobbyists and also wholesale business for fish shops and pond builders.</p>

      <p>For almost 30 years, we are dedicated to import the best quality kois from Japan, almost all kois in our retail shop are handpicked from koi breeders in Japan, we hoped customers can buy the best quality kois with the most reasonable price.It was with this in mind that we decided to deal with breeders on a one-to-one basis from the beginning and now after almost three decades, these relationships have turned from business to friendship. By traveling so extensively and taking in over thirty koi farms, including such famous names as Dainichi, Sakai, Omosako, Sakai, Ogawa, Miyatora and Marusei koi fish farms, we gain access to many Koi that would otherwise have never been seen.</p>

      <p>Being the pioneer in the Japanese Carps industry in Malaysia, ATARIKOI MARKETING SDN BHD also provide services such as koi treatment, filter service, koi boarding and koi/fish pond consultation services. In a ongoing mission to help create an optimum enviroment for rearing healthy Koi, we offer helpful tips and knowledge, wide range of products for your pond including Koi Food, Pumps, Filtration Media and Water Clarifying equipment.</p>
    </div>
  </div>
</section>

<section class="delivery dark">
  &nbsp;
</section>