---
layout: default
title: Product Catalog
menu: store
subtitle: Browse our selection of products
---
<section class="categories-selection">
  <div class="inner-section">
    <h3 class="inner-heading">Product Categories</h3>

    <div class="card-container a-top">
    
    {% for catalog in site.data.contentful.spaces.links.catalog %}
      <article class="card">
        <a href="/categories/{{ catalog.slug }}">
          <label>{{ catalog.catalog_name }}</label>
          <img src="{{ catalog.thumbnail.url }}" alt="{{ catalog.thumbnail.description }}">
        </a>
      </article>
    {% endfor %}
    
    </div>

  </div>
</section>
<hr>