---
layout: default
title: Home
menu: home
---
<section class="service-guarantee dark">
  <div class="image-container">
    <img src="/assets/img/secondary-hero.webp">
  </div>
  <div class="heading-container">
    <img class="photo" src="/assets/img/secondary-hero.webp">
    <h3>Guaranteed Service</h3>
    <p>For more than two decades, Atarikoi has made its name as Malaysia’s premier importer of top quality Japanese koi. It is in our belief that we provide our valued customers which include koi retailers, hobbyist, and enthusiasts with an assortment of top quality koi.</p>
    <p class="cta-secondary"><a href="/about" class="btn btn-secondary">Find out more about us</a></p>
  </div>
</section>

<section class="brands">
  <h3>Brands that we carry</h3>
  <div class="brands-listing">
    <img src="/assets/img/tsurumi_logo.png">
    <img src="/assets/img/waterco_logo.png">
    <img src="/assets/img/shinmaywa_logo.png">
    <img src="/assets/img/laguna_logo.png">
    <img src="/assets/img/fujimac_logo.png">
    <img src="/assets/img/oceanfree_logo.png">
  </div>
</section>

<section class="services dark">
  <div class="inner-section">
    <h3>Our services</h3>
    <p>In addition to bringing you the best products in the market, we also offer a host of valuable services to make your life as a pond owner as hassel-free as possible.</p>
    <ul class="services-listing">
      <li class="service-card">
        <div class="card">
          <i class="fas fa-briefcase-medical"></i>
          <p>We provide koi medication and treatment.</p>
        </div>
      </li>

      <li class="service-card">
        <div class="card">
          <i class="fas fa-people-carry"></i>
          <p>We provide koi transportation and handling services</p>
        </div>
      </li>
      
      <li class="service-card">
        <div class="card">
          <i class="fas fa-tools"></i>  
          <p>We provide koi pond maintenance, pump and accessories installation</p>
        </div>
      </li>
    </ul>

    <p class="cta-container"><a href="/contact" class="btn btn-secondary">Contact us for more information</a></p>
  </div>
</section>